@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  padding: 0 10px;
  min-height: 100vh;
  background: #0D6EFD;
  align-items: center;
  justify-content: center;
}

::selection {
  color: #fff;
  background: #0D6EFD;
}

.box-icon {
  display: flex;
  height: 3em;
  width: 150px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #fff;
  border: 1px solid #666;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 4px;
  text-transform: capitalize;
  text-decoration: none;
  color: #343f4f;
  top: 6px;
  left: 5px;
  align-items: center;
  position: absolute;
}

.box-icon i {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;

}

.box-icon:hover i {
  font-size: 1.2em;
  animation-name: left-and-right;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.box-icon:hover {
  box-shadow: 9px 9px 33px #025ce3, -9px -9px 33px #025ce3;
  transform: translateY(-2px);
}


.wrapper {
  width: 715px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

.wrapper header {
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
}

.wrapper form {
  margin: 35px 30px;
}

.wrapper form.disabled {
  pointer-events: none;
  opacity: 0.7;
}

form .dbl-field {
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}

input:focus {
  outline: none;
}

.progress {
  bottom: -40px;
  background-color: red;
  height: 2px;
  width: 0px;
  display: block;
  position: relative;
  top: -2px;
  transition: 0.5s;
  position: absolute;
  right: 0;
  top: 0;

}

.count {
  display: block;
  text-align: right;
  font-size: 12px;
  padding: 10px;
  position: absolute;
  bottom: -30px;
  left: 0px;

}

.zero {
  font-weight: bold;
  color: red;
}

.dbl-field .field {
  height: 50px;
  display: flex;
  position: relative;
  width: calc(100% / 2 - 13px);
}

.wrapper form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: #ccc;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);

}

.Number_of_individuals {
  height: 80px;
  margin-bottom: 10px;
  position: relative;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFF;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.Number_of_individuals .minus:active,
.Number_of_individuals .plus:active {
  color: #025ce3;
}

.Number_of_individuals .caption {
  position: absolute;
  top: 0;
  left: 36%;
  color: #025ce3;
}

.Number_of_individuals span {
  width: 100%;
  text-align: center;
  font-size: 55px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

.Number_of_individuals span.num {
  font-size: 30px;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.field input::placeholder,
.message textarea::placeholder {
  color: #ccc;
}

.field input:focus,
.message textarea:focus {
  padding-left: 47px;
  border: 2px solid #0D6EFD;
}

.field input:focus~i,
.message textarea:focus~i {
  color: #0D6EFD;
}

form .message {
  position: relative;
}

form .message i {
  top: 30px;
  font-size: 20px;
}

form .message textarea {
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 15px 20px 0 48px;
}

form .message textarea::-webkit-scrollbar {
  width: 0px;
}

.message textarea:focus {
  padding-top: 14px;
}

form .button-area {
  margin: 25px 0;
  display: flex;
  align-items: center;
}

.button-area button {
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: #0D6EFD;
  transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
}

.button-area button:hover {
  background: #025ce3;
}

.button-area span {
  font-size: 17px;
  margin-left: 30px;
  display: none;
}

@media (max-width: 600px) {
  .wrapper header {
    text-align: center;
  }

  .wrapper form {
    margin: 35px 20px;
  }

  form .dbl-field {
    flex-direction: column;
    margin-bottom: 0px;
  }

  form .dbl-field .field {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
  }

  form .message textarea {
    resize: none;
  }

  form .button-area {
    margin-top: 20px;
    flex-direction: column;
  }

  .button-area button {
    width: 100%;
    padding: 11px 0;
    font-size: 16px;
  }

  .button-area span {
    margin: 20px 0 0;
    text-align: center;
  }
}